/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* index.css style */
body { 
	background: url('../img/bg2.jpg') no-repeat fixed center top / 110% auto rgb(0, 0, 0); 
	font-family: 'Open Sans',sans-serif; 
}
a:visited { 
	color: rgb(255,255,255); 
	transition: all 0.1s linear 0s ; 
}
a {
	color: rgb(213, 72, 114);
}
a:hover, a:active { 
	color: rgb(164, 48, 83); 
	text-decoration: none; 
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: 300; 
}
h1 { 
	font-weight: 300; 
	font-size: 50px; 
	text-align: center; 
	line-height: 55px; 
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); 
	margin-bottom: 30px; 
}
.main-container {
	position: relative;
}
.main-container .container {
	padding: 30px; 
}
#intro { 
	margin-top: 100px; 
	text-align: center; 
	min-height: 400px; 
	padding: 0px 0px 50px; 
}
#intro h1 { 
	color: rgb(255, 255, 255); 
	font-weight: 500;
}
#intro p { 
	padding: 15px 0px; 
	color: rgb(255, 255, 255); 
	font-size:14px; 
	font-style:italic;
}
#about { 
	background: none repeat scroll 0% 0% rgb(255, 255, 255); 
}
#team { 
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); 
}
#contact { 
	background: none repeat scroll 0% 0% rgb(32, 32, 32); 
}
.container, .navigationbar-static-top .container, .navigationbar-fixed-top .container, .navigationbar-fixed-bottom .container {
 	width: 940px;
}
.container {
 	margin-right: auto;
 	margin-left: auto;
}
.dark { 
	color: rgb(255, 255, 255); 
}
.container:before, .container:after {
 	display: table;
 	line-height: 0;
 	content: "";
}
.container:after { clear: both; }
.container-fluid { 
	padding-right: 20px;
 	padding-left: 20px;
 }
.container-fluid:before, .container-fluid:after {
 	display: table;
 	line-height: 0;
 	content: "";
}
.container-fluid:after { 
	clear: both; 
}
.span6 {
 	width: 460px; 
}
.span5 { 
	width: 380px; 
}
.span4 { 
	width: 300px; 
}
.span3 { 
	width: 220px; 
}
.row {
 	margin-left: -20px;
}
.row:before, .row:after {
	display: table;
	line-height: 0;
	content: "";
}
.row:after {
 	clear: both;
}
.center { 
	float: none; 
	margin: 0px auto; 
}
.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 20px;
	color: rgb(51, 51, 51);
	text-align: center;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: rgb(245, 245, 245);
	background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(162, 162, 162);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: rgb(51, 51, 51);
	background-color: rgb(230, 230, 230);
}
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { 
	color: rgb(51, 51, 51); 
	text-decoration: none; 
	background-position: 0px -15px; 
	transition: background-position 0.1s linear 0s; 
}
.btn:focus { 
	outline: thin dotted rgb(51, 51, 51); 
	outline-offset: -2px; 
}
.btn.active, .btn:active { 
	background-image: none; 
	outline: 0px none; 
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); 
}
.btn { 
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); 
}
button.btn, input.btn[type="submit"] {  }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { 
	padding: 0px; 
	border: 0px none; 
}
.btn-xlarge { 
	padding: 20px 40px; 
	font-size: 25px; 
	border-radius: 5px 5px 5px 5px; 
}
.btn-purple { 
	background-color: rgb(141, 32, 64) ! important; 
	background-repeat: repeat-x; 
	background-image: linear-gradient(rgb(213, 72, 114), rgb(141, 32, 64)); 
	border-color: rgb(141, 32, 64) rgb(141, 32, 64) rgb(118, 26, 54); 
	color: rgb(255, 255, 255) ! important; 
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.36); 
}
.thumbnails { 
	margin-left: -20px; 
	list-style: none outside none; 
}
.thumbnails:before, .thumbnails:after { 
	display: table; 
	line-height: 0; 
	content: ""; 
}
.thumbnails:after { 
	clear: both; 
}
.thumbnails > li { 
	float: left; 
	margin-bottom: 20px; 
	margin-left: 20px; 
}
.thumbnail { 
	display: block; 
	padding: 4px; 
	line-height: 20px; 
	border: 1px solid rgb(221, 221, 221); 
	border-radius: 4px 4px 4px 4px; 
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055); 
	transition: all 0.2s ease-in-out 0s ; 
}
.thumbnail > img { 
	display: block; 
	max-width: 100%; 
	margin-right: auto; 
	margin-left: auto; 
}
.thumbnail { 
	text-align: center; 
	border: 0px none; 
	box-shadow: none; 
}
p { margin: 0px 0px 10px; }

strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
 margin: 10px 0px;
 font-family: inherit;
 font-weight: bold;
 line-height: 20px;
 color: inherit;
 text-rendering: optimizelegibility;
 }

h1, h2, h3 { line-height: 40px; }

h1 { font-size: 38.5px; }

h2 { font-size: 31.5px; }

h3 { font-size: 24.5px; }

ul, ol {
 padding: 0px;
 margin: 0px 0px 10px 25px;
 }

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }

li { line-height: 20px; }

abbr[title], abbr[data-original-title] {
 cursor: help;
 border-bottom: 1px dotted rgb(153, 153, 153);
 }
address {
 display: block;
 margin-bottom: 20px;
 font-style: normal;
 line-height: 20px;
 }
form { margin: 0px 0px 20px; }
label, input, button, select, textarea { 
 font-size: 14px;
 font-weight: normal;
 line-height: 20px;
 }
input, button, select, textarea {
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
label {
 display: block;
 margin-bottom: 5px; 
}
/* ::::: http://wbpreview.com/previews/WB0L500N4/assets/css/bootstrap.css ::::: */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.mainer,
.mcontainer > header {
	width: 100%;
	margin: 0 auto;
	padding: 2em;
}

.mainer {
	max-width: 82.667em;
	min-height: 40em;
}

.mcontainer > header {
	text-align: center;
	font-size: 16px;
	padding: 4em 2em 3em;
	background: rgba(0,0,0,0.01);
}

.mcontainer > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.mcontainer > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	position: relative;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
	.mcontainer > header {
		font-size: 75%;
	}
}

