
audio, canvas, video 
{ 
display: inline-block; 
}

audio:not([controls]) 
{
 display: none;
 }
html
 { 
font-size: 100%;
 }
a:focus {
 outline: thin dotted rgb(51, 51, 51); outline-offset: -2px;
 }
a:hover, a:active {
 outline: 0px none;
 }
img { 
height: auto; max-width: 100%; vertical-align: middle; border: 0px none;
 }
button, input, select, textarea { 
margin: 0px; font-size: 100%; vertical-align: middle; 
}
button, input { 
line-height: normal; 
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0px; border: 0px none; 
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
 cursor: pointer; 
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
 cursor: pointer; 
}
textarea {
 overflow: auto; vertical-align: top; 
}
body {
 margin: 0px;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 14px;
 line-height: 20px;
 color: rgb(51, 51, 51);
 background-color: rgb(255, 255, 255);
 }
a {
 color: rgb(0, 136, 204);
 text-decoration: none;
 }
a:hover {
 color: rgb(0, 85, 128);
 text-decoration: underline;
 }
.row {
 margin-left: -20px;
 }
.row:before, .row:after {
 display: table;
 line-height: 0;
 content: "";
 }
.row:after {
 clear: both;
 }
[class*="span"] {
 float: left;
 min-height: 1px;
 margin-left: 20px; 
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
 width: 940px;
 }
.span6 { width: 460px; }
.span5 { width: 380px; }
.span4 { width: 300px; }
.span3 { width: 220px; }
.container {
 margin-right: auto;
 margin-left: auto;
 }
.container:before, .container:after {
 display: table;
 line-height: 0;
 content: "";
 }
.container:after { clear: both; }
.container-fluid { 
 padding-right: 20px;
 padding-left: 20px;
 }
.container-fluid:before, .container-fluid:after {
 display: table;
 line-height: 0;
 content: "";
 }
.container-fluid:after { clear: both; }

p { margin: 0px 0px 10px; }

strong { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
 margin: 10px 0px;
 font-family: inherit;
 font-weight: bold;
 line-height: 20px;
 color: inherit;
 text-rendering: optimizelegibility;
 }

h1, h2, h3 { line-height: 40px; }

h1 { font-size: 38.5px; }

h2 { font-size: 31.5px; }

h3 { font-size: 24.5px; }

ul, ol {
 padding: 0px;
 margin: 0px 0px 10px 25px;
 }

ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }

li { line-height: 20px; }

abbr[title], abbr[data-original-title] {
 cursor: help;
 border-bottom: 1px dotted rgb(153, 153, 153);
 }
address {
 display: block;
 margin-bottom: 20px;
 font-style: normal;
 line-height: 20px;
 }
form { margin: 0px 0px 20px; }
label, input, button, select, textarea { 
 font-size: 14px;
 font-weight: normal;
 line-height: 20px;
 }
input, button, select, textarea {
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
label {
 display: block;
 margin-bottom: 5px; 
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 display: inline-block;
 height: 20px;
 padding: 4px 6px;
 margin-bottom: 10px;
 font-size: 14px;
 line-height: 20px;
 color: rgb(85, 85, 85);
 vertical-align: middle;
 border-radius: 4px 4px 4px 4px;
 }
input, textarea, .uneditable-input { width: 100px; }
textarea { height: auto; }

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(204, 204, 204);
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
 transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; 
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { 
border-color: rgba(82, 168, 236, 0.8);
 outline: 0px none;
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
 }

input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] { float: none; margin-left: 0px; }
input, textarea, .uneditable-input {
 margin-left: 0px;
}

input.span4, textarea.span4, .uneditable-input.span4 { width: 286px; }

input:focus:invalid, textarea:focus:invalid, select:focus:invalid { 
color: rgb(185, 74, 72);
 border-color: rgb(238, 95, 91); 
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
 border-color: rgb(233, 50, 45);
 box-shadow: 0px 0px 6px rgb(248, 185, 183); 
}
.control-group { margin-bottom: 10px; }

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
[class^="icon-"], [class*=" icon-"] { 
 display: inline-block;
 width: 14px;
 height: 14px;
 margin-top: 1px;
 line-height: 14px;
 vertical-align: text-top;
 background-image: url('../img/glyphicons-halflings.png');
 background-position: 14px 14px;
 background-repeat: no-repeat;
 }

.dropup, .dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }

.caret {
 display: inline-block;
 width: 0px;
 height: 0px;
 vertical-align: top;
 border-top: 4px solid rgb(0, 0, 0);
 border-right: 4px solid transparent;
 border-left: 4px solid transparent;
 content: "";
 }
.dropdown .caret { 
 margin-top: 8px;
 margin-left: 2px;
 }
.dropdown-menu {
 position: absolute;
 top: 100%;
 left: 0px;
 z-index: 1000;
 display: none;
 float: left;
 min-width: 160px;
 padding: 5px 0px;
 margin: 2px 0px 0px;
 list-style: none outside none;
 background-color: rgb(255, 255, 255);
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 6px 6px 6px 6px;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 background-clip: padding-box;
 }
.dropdown-menu li > a {
 display: block;
 padding: 3px 20px;
 clear: both;
 font-weight: normal;
 line-height: 20px;
 color: rgb(51, 51, 51);
 white-space: nowrap;
 }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
 color: rgb(255, 255, 255);
 text-decoration: none;
 background-color: rgb(0, 129, 194);
 background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179));
 background-repeat: repeat-x;
 }
.collapse {
 position: relative;
 height: 0px;
 overflow: hidden;
 transition: height 0.35s ease 0s;
 }
.btn {
 display: inline-block;
 padding: 4px 12px;
 margin-bottom: 0px;
 font-size: 14px;
 line-height: 20px;
 color: rgb(51, 51, 51);
 text-align: center;
 text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
 vertical-align: middle;
 cursor: pointer;
 background-color: rgb(245, 245, 245);
 background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
 background-repeat: repeat-x;
 border-width: 1px;
 border-style: solid;
 -moz-border-top-colors: none;
 -moz-border-right-colors: none;
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 border-image: none;
 border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(162, 162, 162);
 border-radius: 4px 4px 4px 4px;
 box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
 }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
 color: rgb(51, 51, 51);
 background-color: rgb(230, 230, 230);
 }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn { border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }
button.btn, input.btn[type="submit"] {  }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.nav { margin-bottom: 20px; margin-left: 0px; list-style: none outside none; }
.nav > li > a { display: block; }

.nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav .dropdown-toggle .caret { margin-top: 6px; border-top-color: rgb(0, 136, 204); border-bottom-color: rgb(0, 136, 204); }
.nav .dropdown-toggle:hover .caret { border-top-color: rgb(0, 85, 128); border-bottom-color: rgb(0, 85, 128); }
.navbar { margin-bottom: 20px; overflow: visible; }

.navbar-inner {
 min-height: 40px;
 padding-right: 20px;
 padding-left: 20px;
 background-color: rgb(250, 250, 250);
 background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
 background-repeat: repeat-x;
 border: 1px solid rgb(212, 212, 212);
 border-radius: 4px 4px 4px 4px;
 box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
 }
.navbar-inner:before, .navbar-inner:after { display: table; line-height: 0; content: ""; }
.navbar-inner:after { clear: both; }
.navbar .container { width: auto; }
.nav-collapse.collapse { height: auto; overflow: visible; }
.nav-collapse.nav { float:none; margin: 0px 0px 10px;}
.navbar .brand { display: block; float: left; padding: 10px 20px; margin-left: -20px; font-size: 20px; font-weight: 2	00; color: rgb(119, 119, 119); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .brand:hover { text-decoration: none; }
.navbar .btn, .navbar .btn-group { margin-top: 5px; }
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; margin-bottom: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border-width: 0px 0px 1px; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding-right: 0px; padding-left: 0px; border-radius: 0px 0px 0px 0px; }
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.navbar-fixed-top { top: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }

.navbar .nav > li { float: left; }
.navbar .nav > li > a { float: none; padding: 10px 15px; color: rgb(119, 119, 119); text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .nav .dropdown-toggle .caret { margin-top: 8px; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: transparent; }
.navbar .btn-navbar { display: none; float: right; padding: 7px 10px; margin-right: 5px; margin-left: 5px; color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(237, 237, 237); background-image: linear-gradient(to bottom, rgb(242, 242, 242), rgb(229, 229, 229)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.075); }
.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] { color: rgb(255, 255, 255); background-color: rgb(229, 229, 229); }
.navbar .btn-navbar:active, .navbar .btn-navbar.active {  }
.navbar .btn-navbar .icon-bar { display: block; width: 18px; height: 2px; background-color: rgb(245,245,245); border-radius: 1px 1px 1px 1px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25); }
.btn-navbar .icon-bar + .icon-bar { margin-top: 3px; }
.navbar .nav > li > .dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; content: ""; }
.navbar .nav > li > .dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid rgb(255, 255, 255); border-left: 6px solid transparent; content: ""; }
.navbar .nav li.dropdown > a:hover .caret { border-top-color: rgb(85, 85, 85); border-bottom-color: rgb(85, 85, 85); }
.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(119, 119, 119); border-bottom-color: rgb(119, 119, 119); }
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right { right: 0px; left: auto; }
.navbar .pull-right > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu.pull-right:before { right: auto; left: auto; }
.navbar .pull-right > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu.pull-right:after { right: auto; left: auto; }
.thumbnails { margin-left: -20px; list-style: none outside none; }
.thumbnails:before, .thumbnails:after { display: table; line-height: 0; content: ""; }
.thumbnails:after { clear: both; }
.thumbnails > li { float: left; margin-bottom: 20px; margin-left: 20px; }
.thumbnail { display: block; padding: 4px; line-height: 20px; border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.055); transition: all 0.2s ease-in-out 0s ; }
.thumbnail > img { display: block; max-width: 100%; margin-right: auto; margin-left: auto; }
.pull-right { float: right; }
/* ::::: http://wbpreview.com/previews/WB0L500N4/assets/css/bootstrap-responsive.min.css ::::: */

/* ::::: http://wbpreview.com/previews/WB0L500N4/assets/css/main.css ::::: */

body {
 background: url('../img/bg2.jpg') no-repeat fixed center top / 150% auto rgb(0, 0, 0); font-family: 'Open Sans',sans-serif; 
}
a, a:visited { color: rgb(255,255,255); transition: all 0.1s linear 0s ; }
a{color: rgb(213, 72, 114);}
a:hover, a:active { color: rgb(164, 48, 83); text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; }
h1 { font-weight: 300; font-size: 50px; text-align: center; line-height: 55px; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6); margin-bottom: 30px; }
.dark { color: rgb(255, 255, 255); }
.center { float: none; margin: 0px auto; }
.main-container { position: relative; }
.main-container .container { padding: 30px; }
#intro { margin-top: 100px; text-align: center; min-height: 400px; padding: 0px 0px 50px; }
#intro h1 { color: rgb(255, 255, 255); font-weight: 500;}
#intro p { padding: 15px 0px; color: rgb(255, 255, 255); font-size:14px; font-style:italic;}
#about { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#team { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8); }
#contact { background: none repeat scroll 0% 0% rgb(32, 32, 32); }
.navbar-fixed-top { margin-bottom: 0px; border-top: 4px solid rgb(213, 72, 114); position: fixed; }
.navbar-inner { border-bottom: 0px none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); filter: none; padding: 8px 0px 30px; background: none repeat scroll 0% 0% rgba(13, 13, 13, 0.898); }
.navbar .brand { font-size: 19px; font-weight: 300; text-shadow: none; padding: 1%; font-family: serif; color: rgb(255, 255, 255) ! important; }
.navbar .nav.pull-right { top: 10px; float: right; margin-right: 0px;}
.navbar .nav > li > a { color: rgb(248, 248, 248); font-size: 15px; font-weight: 300; text-shadow: none; transition: all 0.1s linear 0s ; }
.navbar .nav li a:hover, .navbar .nav li a:focus { color: rgb(248, 248, 248); }
.navbar .nav > li > a:hover { color: rgb(204, 204, 204); }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { background-color: rgb(141, 32, 64) ! important; text-decoration: none; color: rgb(255, 255, 255); background-image: linear-gradient(rgb(213, 72, 114), rgb(141, 32, 64)); background-repeat: repeat-x; }
.navbar .btn-navbar .icon-bar { display: block; width: 18px; height: 2px; background-color: rgb(95, 175, 8); border-radius: 1px 1px 1px 1px; box-shadow: none; }
.navbar .btn-navbar { margin-right: 30px; }
.thumbnail { text-align: center; border: 0px none; box-shadow: none; }
.btn-purple { background-color: rgb(141, 32, 64) ! important; background-repeat: repeat-x; background-image: linear-gradient(rgb(213, 72, 114), rgb(141, 32, 64)); border-color: rgb(141, 32, 64) rgb(141, 32, 64) rgb(118, 26, 54); color: rgb(255, 255, 255) ! important; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.36); }
.btn-xlarge { padding: 20px 40px; font-size: 25px; border-radius: 5px 5px 5px 5px; }
.btn-large {margin-right:20px; padding: 10px 20px; font-size: 16px; border-radius: 5px 5px 5px 5px;}
.social { text-align: center; }
.social img { transition: all 0.5s ease 0s ; margin-right: 4px; }
.social img:hover { transform: rotate(-15deg); }
/*	BigVideo Styles */


#big-video-wrap {
	overflow:hidden;
	position:fixed;
	height:100%;
	width:100%;
	top:100px;
	left:0;
}

#big-video-vid,#big-video-image {
	position:absolute;
	margin-top:40px;
}

#big-video-control-container {
	position:fixed;
	bottom:20px;
	margin-top:40px;
	padding:0 20px;
	width:100%;
	-webkit-transition-duration:.6s;
	-moz-transition-duration:.6s;
	-ms-transition-duration:.6s;
	-o-transition-duration:.6s;
	transition-duration:.6s;
}

#big-video-control {
	width:100%;
	height:16px;
	position:relative;
	display:none;
}
